<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-app-deeplinking" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AppDeeplinking</name><js-module name="AppDeeplinking" src="www/AppDeeplinking.js"><clobbers target="cordova.plugins.AppDeeplinking" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="AppDeeplinking"><param name="android-package" value="cordova-plugin-app-deeplinking.AppDeeplinking" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/AppDeeplinking.java" target-dir="src/cordova-plugin-app-deeplinking/AppDeeplinking" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="AppDeeplinking"><param name="ios-package" value="AppDeeplinking" /></feature></config-file><source-file src="src/ios/AppDeeplinking.m" /></platform></plugin>